@font-face {
    font-family: "Anton";
    src: url("/assets/fonts/Anton/Anton-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url("/assets/fonts/Manrope/Manrope-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("/assets/fonts/Manrope/Manrope-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("/assets/fonts/Manrope/Manrope-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #ffd15b;
    --background-main: #ededed;
    --grey-color: #7a7a7a;
    --anton-font: "Anton", sans-serif;
    --manrope-font: "Manrope", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
summary {
    list-style: none;
}

summary {
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

#header {
    background-image: url("/assets/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
    font-size: 1.37rem;
}

@media (max-width: 1024px) {
    #header {
        height: fit-content;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    #header {
        height: fit-content;
        padding-bottom: 30px;
    }
}

.logo {
    padding: 51px 0 0 69px;
    margin-bottom: 168px;
}

@media (max-width: 1024px) {
    .logo {
        padding: 45px 0 0 30px;
        margin-bottom: 55px;
    }
}

@media (max-width: 768px) {
    .logo {
        padding: 50px 0 0 0;
        margin-bottom: 50px;
        text-align: center;
    }
}

h1 {
    color: var(--main-color);
    text-align: center;
    font-family: var(--anton-font);
    line-height: normal;
    width: 100%;
    max-width: 890px;
    margin: 0 auto 29px auto;
    text-wrap: balance;
    letter-spacing: 1px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

.search-wrapper {
    width: 100%;
    max-width: 954px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1024px) {
    .search-wrapper {
        width: calc(100% - 80px);
        margin: 0 40px 0 40px;
    }
}

@media (max-width: 768px) {
    .search-wrapper {
        width: calc(100% - 40px);
        margin: 0 20px 0 20px;
    }
}

.search-field {
    width: 100%;
    height: 72px;
    border: none;
    border-radius: 11px;
    padding: 24px 0 26px 35px;
    font-family: var(--manrope-font);
}

@media (max-width: 768px) {
    .search-field {
        padding: 16px 0 16px 15px;
    }
}

.search-field::placeholder {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .search-field::placeholder {
        font-size: 0.78rem;
    }
}

.search-field:focus {
    outline-color: var(--main-color);
}

.cross-btn {
    display: none;
    visibility: hidden;
    position: absolute;
    right: 85px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}

@media (max-width: 768px) {
    .cross-btn {
        height: 10px;
        width: 10px;
        right: 75px;
    }
}

.cross-visible {
    display: flex;
    visibility: visible;
}

.search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    width: 51px;
    height: 52px;
    border-radius: 10px;
    transition: background-color 0.4s ease-in-out;
}

.search-btn:hover {
    background-color: var(--main-color);
}

.search-btn:hover .search-btn-img {
    filter: brightness(0) saturate(100%);
}

main {
    background-color: var(--background-main);
    padding: 0 102px 201px 102px;
}

@media (max-width: 1024px) {
    main {
        padding: 0 40px 20px 40px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 0 20px 20px 20px;
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 21px 0 55px 0;
}

@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

.filters-wrapper {
    display: flex;
    gap: 66px;
}

@media (max-width: 1024px) {
    .filters-wrapper {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .filters-wrapper {
        flex-direction: column;
        gap: 50px;
    }
}

.filters-wrapper details {
    position: relative;
    background-color: white;
    border-radius: 11px;
    max-width: 195px;
}

.filters-wrapper details summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
    gap: 63px;
    font-family: var(--manrope-font);
    font-weight: 500;
}

@media (max-width: 1024px) {
    .filters-wrapper details summary {
        font-size: 0.875rem;
    }
}

.tag-searchbar-wrapper {
    position: relative;
    border: 1px solid #7a7a7a;
    border-radius: 2px;
    margin: 0 16px 15px 16px;
    height: 36px;
}

.tag-search-input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 50px 0 8px;
}

.tag-search-input:focus {
    outline-color: var(--main-color);
}

.tag-cross-btn {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 35px;
    display: flex;
    align-items: center;
    background-color: white;
    transform: translateY(-50%);
    height: 6px;
    width: 6px;
}

.tag-cross-btn img {
    filter: brightness(48%);
    width: 100%;
    height: 100%;
}

.tag-cross-visible {
    display: flex;
    visibility: visible;
}

.tag-search-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    background-color: white;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
}

.tag-search-btn img {
    filter: brightness(48%);
    width: 100%;
    height: 100%;
}

.top-anchor-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 21px;
}

.tag-top-anchor {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 9px 16px;
    font-family: var(--manrope-font);
    font-size: 0.875rem;
}

.tag-top-anchor:hover .cross-top-anchor-btn {
    display: flex;
    visibility: visible;
    cursor: pointer;
}

.cross-top-anchor-btn {
    display: none;
    visibility: hidden;
}

.cross-top-anchor-btn .img-anchor-top {
    background-color: var(--main-color);
}

.list {
    max-height: 259px;
    overflow: scroll;
    scrollbar-width: none;
}

.list li {
    font-family: var(--manrope-font);
    font-size: 0.875rem;
    padding: 6px 16px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.list li:last-child {
    margin-bottom: 13px;
}

.list li:hover {
    background-color: var(--main-color);
}

.tag-error-msg {
    font-family: var(--manrope-font);
    font-size: 0.75rem;
    padding: 0 16px 15px 16px;
    text-align: center;
}

.filters-wrapper details[open] {
    border-radius: 11px 11px 0 0;
}

.filters-wrapper details[open] summary {
    height: 53px;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 1000;
    max-width: 195px;
    border-radius: 0 0 11px 11px;
}

@media (max-width: 1024px) {
    .dropdown-content {
        max-width: 185.45px;
    }
}

.arrow-down {
    transition: transform 0.3s ease-in-out;
}

.filters-wrapper details[open] .arrow-down {
    transform: rotate(-180deg);
}

.number-recipes {
    display: flex;
    align-items: center;
    font-family: var(--anton-font);
    font-size: 1.31rem;
}

@media (max-width: 1024px) {
    .number-recipes {
        font-size: 1.2rem;
    }
}

.tags-anchors-wrapper {
    display: none;
    visibility: hidden;
    margin-bottom: 43px;
    gap: 25px;
}

.tag-anchor {
    display: flex;
    align-items: center;
    padding: 17px 18px;
    background-color: var(--main-color);
    width: fit-content;
    border-radius: 10px;
}

.anchor-text {
    font-size: 0.875rem;
    font-family: var(--manrope-font);
    margin-right: 60px;
}

.anchor-cross-btn {
    display: flex;
    align-items: center;
    background: none;
}

.anchor-cross-btn img {
    filter: brightness(0) saturate(100%);
}

.display {
    display: flex;
    flex-wrap: wrap;
    visibility: visible;
}

.recipes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 66px;
    column-gap: 48px;
}

@media (max-width: 1024px) {
    .recipes-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .recipes-wrapper {
        display: flex;
        flex-direction: column;
    }
}

.recipe-card {
    width: 100%;
    border-radius: 21px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipe-img-wrapper {
    position: relative;
}

.recipe-img-wrapper img {
    display: block;
    height: 100%;
    max-height: 253px;
    min-width: 100%;
    object-fit: cover;
}

.time-recipe {
    position: absolute;
    top: 21px;
    right: 22px;
    padding: 5px 15px;
    background-color: var(--main-color);
    border-radius: 14px;
    font-size: 0.75rem;
    font-family: var(--manrope-font);
}

.recipe-content {
    padding: 32px 25px 61px 25px;
}

.recipe-title {
    font-family: var(--anton-font);
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 29px;
}

.section-title {
    font-family: var(--manrope-font);
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--grey-color);
    letter-spacing: 1.44px;
    margin-bottom: 15px;
}

.recipe {
    margin-bottom: 32px;
}

.recipe-text {
    font-family: var(--manrope-font);
    font-size: 0.875rem;
}

.ingredients-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    font-family: var(--manrope-font);
}

.ingredient-name {
    font-weight: 500;
    font-size: 0.875rem;
}

.ingredient-quantity {
    color: var(--grey-color);
}

.recipes-wrapper:has(.no-content-msg) {
    display: flex;
}

.no-content-msg {
    font-family: var(--manrope-font);
    font-weight: 500;
    margin: 0 auto;
}

main:has(.no-content-msg) {
    padding: 0 102px 100px 102px;
}